.contact {
  flex-direction: column;
}
.btn {
  margin-bottom: 20px; /* Tambahkan jarak di bawah tombol */
}

.map-container {
  margin-top: 20px; /* Tambahkan jarak di atas peta */
  display: flex;
  justify-content: center; /* Memastikan iframe berada di tengah */
}
